# Mengabaikan folder environment virtual
venv/
.venv/
env/

# Mengabaikan folder model yang berat
indobert-sentiment-model/

# Mengabaikan file data mentah jika ukurannya terlalu besar
data/*.csv

# Mengabaikan cache python
__pycache__/
.ipynb_checkpoints/